name: 'Build'

on:
  push:
    branches: [ master, main, dev ]
  pull_request:
    branches: [ master, main, dev ]
  schedule:
    # run every saturday at 4:43 AM
    - cron: '43 4 * * SAT'
  workflow_dispatch:
jobs:  
  # 32-bit windows build
  build-win32:
    runs-on: windows-latest
    env:
        OL: '.\\libs'
    steps:

    # pull
    - uses: actions/checkout@v2

    # download dependencies
    - run: pwd
    - run: python3 --version
    - run: where python3
    - run: python3 -m pip install setuptools==50.3.2 pyinstaller==4.0
    - run: python3 -m pip install Pillow
    
    # check that dependencies installed.
    - name: check-dependencies (1)
      run: python3 -c "from PIL import Image, ImageDraw, ImageOps"
     
    - name: check-dependencies (2)
      run: python3 -c "from tkinter import ttk"
      
    - name: build with pyinstaller
      run: C:\Python36\Scripts\pyinstaller.exe mmagedit.py --windowed -i "icon.ico" --paths=. --hidden-import mmdata --add-data="icon.png;."
      
    - run: move dist\\mmagedit mmagedit
    - run: move examples mmagedit
    
    # test
    - run: python3 mmagedit.py --help
    - run: python3 mmagedit.py --deps
    - run: mmagedit\\mmagedit.exe --help
    - run: mmagedit\\mmagedit.exe --deps
    
    # release
    - uses: actions/upload-artifact@v2
      with:
        name: mmagedit
        path: mmagedit/
